<div class="grid">
    <div class="col-12 p-fluid">
        <p-card header="Conversor de unidades para OC">
            <form>
                <div class="mb-3">
                    <label for="Decimal" class="form-label">Decimal</label>
                    <input type="text" [(ngModel)]="decimal" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('decimal')" />
                </div>
                <div class="mb-3">
                    <label for="octal" class="form-label">Octal</label>
                    <input type="text" [(ngModel)]="octal" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('octal')" />
                </div>
                <div class="mb-3">
                    <label for="hex" class="form-label">Hexadecimal</label>
                    <input type="text" [(ngModel)]="hexa" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('hex')" />
                </div>
                <div class="mb-3">
                    <label for="Binario" class="form-label">Binario Natural</label>
                    <input type="text" [(ngModel)]="binNat" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('binNat')" />
                </div>
                <div class="mb-3">
                    <label for="Gray" class="form-label">Gray</label>
                    <input type="text" [(ngModel)]="gray" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('gray')" />
                </div>
                <div class="mb-3">
                    <label for="Johnson" class="form-label">Johnson</label>
                    <input type="text" [(ngModel)]="johnson" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('johnson')" />
                </div>
                <div class="mb-3">
                    <label for="ascii" class="form-label">ASCII</label>
                    <input type="text" [(ngModel)]="ascii" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('ascii')" />
                </div>


                <br>
                <p-fieldset> <!--legend="Deteccion y correccion de errores">-->
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center text-primary">
                            <span class="pi pi-check-circle mr-2"></span>
                            <span class="font-bold text-lg">Deteccion y correccion de errores</span>
                        </div>
                    </ng-template>
                    <form></form>
                    <div>
                        <div class="grid">
                            <div class="col-9">
                                <div class="grid">
                                    <div class="col-12">
                                        <label for="origen" class="form-label">A partir de que valor deberia
                                            calcular?</label>
                                        <button type="button" pButton icon="pi pi-bars" label="Mostrar Opciones"
                                            (click)="menu.toggle($event)"></button>

                                        <p-slideMenu #menu [model]="tipos" [popup]="true" [viewportHeight]="270"
                                            [menuWidth]="200"></p-slideMenu>
                                    </div>
                                    <div class="col-12">
                                        <label for="paridad" class="form-label">Bit de Paridad</label>
                                        <input type="text" [(ngModel)]="bitParidad"
                                            [ngModelOptions]="{standalone: true}" pInputText class="form-control"
                                            autofocus (input)="transformar('bitParidad')" />
                                    </div>
                                    <div class="col-12">
                                        <label for="haming" class="form-label">Haming</label>
                                        <input type="text" [(ngModel)]="haming" [ngModelOptions]="{standalone: true}"
                                            pInputText class="form-control" autofocus (input)="transformar('haming')" />
                                        <small *ngIf="hamingIncorrecto == true"
                                            class="text-danger">&nbsp;&nbsp;&nbsp;Error
                                            detectado! La solucion seria :{{hamingCorrecto}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <p-card>
                                    <div *ngFor="let ubicacion of ubicaciones" class="field-checkbox">
                                        <p-radioButton [inputId]="ubicacion.key" name="ubicacion"
                                            [value]="ubicacion.key" [(ngModel)]="selectedUbicacion"
                                            [ngModelOptions]="{standalone: true}"></p-radioButton>
                                        <label [for]="ubicacion.key" class="ml-2">{{ ubicacion.name }}</label>
                                    </div>
                                    <p-toggleButton [(ngModel)]="paridad" onLabel="Par" offLabel="Impar"
                                        [ngModelOptions]="{standalone: true}"></p-toggleButton>
                                </p-card>
                                <div class="mt-3">
                                    <p-button label="Calcular" icon="pi pi-calculator"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </form>
        </p-card>
    </div>
</div>