<form>
    <div class="mb-3">
        <label for="Decimal" class="form-label">Decimal</label>
        <input type="text" [(ngModel)]="decimal" pInputText class="form-control" autofocus />
    </div>
    <div class="mb-3">
        <label for="octal" class="form-label">Octal</label>
        <input type="text" [(ngModel)]="octal" pInputText class="form-control" autofocus />
    </div>
    <div class="mb-3">
        <label for="hex" class="form-label">Hexadecimal</label>
        <input type="text" [(ngModel)]="hexa" pInputText class="form-control" autofocus />
    </div>
    <div class="mb-3">
        <label for="Binario" class="form-label">Binario Natural</label>
        <input type="text" [(ngModel)]="binNat" pInputText class="form-control" autofocus />
    </div>
    <div class="mb-3">
        <label for="Gray" class="form-label">Gray</label>
        <input type="text" [(ngModel)]="gray" pInputText class="form-control" autofocus />
    </div>
    <div class="mb-3">
        <label for="Johnson" class="form-label">Johnson</label>
        <input type="text" [(ngModel)]="johnson" pInputText class="form-control" autofocus />
    </div>
</form>