<p-toast></p-toast>
<div class="grid">
    <div class="col-12 p-fluid">
        <p-card header="Conversor de unidades para OC">
            <form>
                <div class="mb-3">
                    <label for="Decimal" class="form-label">Decimal</label>
                    <input type="text" [(ngModel)]="decimal" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('D')" />
                </div>
                <div class="mb-3">
                    <label for="octal" class="form-label">Octal</label>
                    <input type="text" [(ngModel)]="octal" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('O')" />
                </div>
                <div class="mb-3">
                    <label for="hex" class="form-label">Hexadecimal</label>
                    <input type="text" [(ngModel)]="hexa" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('H')" />
                </div>
                <div class="mb-3">
                    <label for="Binario" class="form-label">Binario Natural</label>
                    <input type="text" [(ngModel)]="binNat" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('BN')" />
                </div>
                <div class="mb-3">
                    <label for="Gray" class="form-label">Gray</label>
                    <input type="text" [(ngModel)]="gray" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('G')" />
                </div>
                <div class="mb-3">
                    <label for="Johnson" class="form-label">Johnson</label>
                    <input type="text" [(ngModel)]="johnson" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('J')" />
                </div>
                <div class="mb-3">
                    <label for="ascii" class="form-label">ASCII</label>
                    <input type="text" [(ngModel)]="ascii" [ngModelOptions]="{standalone: true}" pInputText
                        class="form-control" autofocus (input)="transformar('A')" />
                </div>


                <div>
                    <p-accordion>
                        <p-accordionTab header="BCO">
                            <div class="mb-3">
                                <label for="bcoN" class="form-label">Natural</label>
                                <input type="text" [(ngModel)]="bcoN" [ngModelOptions]="{standalone: true}" pInputText
                                    class="form-control" autofocus (input)="transformar('BCON')" />
                            </div>
                            <div class="mb-3">
                                <label for="bcoG" class="form-label">Gray</label>
                                <input type="text" [(ngModel)]="bcoG" [ngModelOptions]="{standalone: true}" pInputText
                                    class="form-control" autofocus (input)="transformar('BCOG')" />
                            </div>
                            <div class="mb-3">
                                <label for="bcoJ" class="form-label">Johnson</label>
                                <input type="text" [(ngModel)]="bcoJ" [ngModelOptions]="{standalone: true}" pInputText
                                    class="form-control" autofocus (input)="transformar('BCOJ')" />
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="BCD">
                            <div class="mb-3">
                                <label for="bcdN" class="form-label">Natural</label>
                                <input type="text" [(ngModel)]="bcdN" [ngModelOptions]="{standalone: true}" pInputText
                                    class="form-control" autofocus (input)="transformar('BCDN')" />
                            </div>
                            <div class="mb-3">
                                <label for="bcdG" class="form-label">Gray</label>
                                <input type="text" [(ngModel)]="bcdG" [ngModelOptions]="{standalone: true}" pInputText
                                    class="form-control" autofocus (input)="transformar('BCDG')" />
                            </div>
                            <div class="mb-3">
                                <label for="bcdJ" class="form-label">Johnson</label>
                                <input type="text" [(ngModel)]="bcdJ" [ngModelOptions]="{standalone: true}" pInputText
                                    class="form-control" autofocus (input)="transformar('BCDJ')" />
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="BCH">
                            <div class="mb-3">
                                <label for="bchN" class="form-label">Natural</label>
                                <input type="text" [(ngModel)]="bchN" [ngModelOptions]="{standalone: true}" pInputText
                                    class="form-control" autofocus (input)="transformar('BCHN')" />
                            </div>
                            <div class="mb-3">
                                <label for="bchG" class="form-label">Gray</label>
                                <input type="text" [(ngModel)]="bchG" [ngModelOptions]="{standalone: true}" pInputText
                                    class="form-control" autofocus (input)="transformar('BCHG')" />
                            </div>
                            <div class="mb-3">
                                <label for="bchJ" class="form-label">Johnson</label>
                                <input type="text" [(ngModel)]="bchJ" [ngModelOptions]="{standalone: true}" pInputText
                                    class="form-control" autofocus (input)="transformar('BCHJ')" />
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>

                <br>
                <p-fieldset> <!--legend="Deteccion y correccion de errores">-->
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center text-primary">
                            <span class="pi pi-check-circle mr-2"></span>
                            <span class="font-bold text-lg">Deteccion y correccion de errores</span>
                        </div>
                    </ng-template>
                    <form></form>
                    <div>
                        <div class="grid">
                            <div class="col-9">
                                <div class="grid">
                                    <div class="col-12">
                                        <label for="origen" class="form-label">A partir de que/Hacia que valor deberia
                                            calcular?</label>
                                        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full"
                                            [(ngModel)]="selectedTipo" [ngModelOptions]="{standalone: true}"
                                            [options]="tipos" placeholder="Selecciona un Sistema" selectionMode="single"
                                            (onNodeSelect)="comprobarValor()"></p-treeSelect>
                                        <!--<button type="button" pButton icon="pi pi-bars" label="Mostrar Opciones"
                                            (click)="menu.toggle($event)"></button>
                                        <p-slideMenu #menu [model]="tipos" [popup]="true" [viewportHeight]="270"
                                            [menuWidth]="200"></p-slideMenu>-->
                                    </div>
                                    <div class="col-12">
                                        <label for="paridad" class="form-label">Bit de Paridad {{text}}</label>
                                        <input type="text" [(ngModel)]="bitParidad"
                                            [ngModelOptions]="{standalone: true}" pInputText class="form-control"
                                            autofocus /><!--(input)="transformar('bitParidad')"-->
                                    </div>
                                    <div class="col-12">
                                        <label for="haming" class="form-label">Haming {{text}}</label>
                                        <input type="text" [(ngModel)]="haming" [ngModelOptions]="{standalone: true}"
                                            pInputText class="form-control"
                                            autofocus /><!--(input)="transformar('haming')"-->
                                        <small *ngIf="hamingIncorrecto == true"
                                            class="text-danger">&nbsp;&nbsp;&nbsp;Error
                                            detectado! El valor correcto de Haming seria:
                                            <strong>{{hamingCorrecto}}</strong></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <p-card>
                                    <div *ngFor="let ubicacion of ubicaciones" class="field-checkbox">
                                        <p-radioButton [inputId]="ubicacion.key" name="ubicacion"
                                            [value]="ubicacion.key" [(ngModel)]="selectedUbicacion"
                                            [ngModelOptions]="{standalone: true}"></p-radioButton>
                                        <label [for]="ubicacion.key" class="ml-2">{{ ubicacion.name }}</label>
                                    </div>
                                    <p-toggleButton [(ngModel)]="paridad" onLabel="Par" offLabel="Impar"
                                        [ngModelOptions]="{standalone: true}"></p-toggleButton>
                                </p-card>

                            </div>
                            <div class="col-12">
                                <div class="grid">
                                    <div class="col-8">
                                        <div class="grid">
                                            <div class="col-12">
                                                <div class="grid">
                                                    <div class="col-6"><p-button
                                                            label="Calcular de Haming hacia {{texto()}}"
                                                            icon="pi pi-calculator"
                                                            (onClick)="preCalculoHaming('from');"
                                                            [disabled]="!formValid"></p-button></div>
                                                    <!---->
                                                    <div class="col-6"><p-button
                                                            label="Calcular de {{texto()}} Hacia Haming"
                                                            styleClass="p-button-success" icon="pi pi-calculator"
                                                            (onClick)="preCalculoHaming('to');"
                                                            [disabled]="!formValid"></p-button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--label="Limpiar Datos Calculadora"-->
                                    <div class="col-4">
                                        <div class="grid">
                                            <div class="col-6"><p-button
                                                    label="Calcular de Bit Paridad hacia {{texto()}}"
                                                    styleClass="p-button" icon="pi pi-calculator"
                                                    (onClick)="calcularParidad();" [disabled]="!formValid"></p-button>
                                            </div>
                                            <div class="col-6"><p-button
                                                    label="Calcular de {{texto()}} hacia Bit Paridad"
                                                    styleClass="p-button-success" icon="pi pi-calculator"
                                                    (onClick)="calcularParidad();" [disabled]="!formValid"></p-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="grid">
                        <div class="col-4">

                            <p-button label="Limpiar Calculadora" styleClass="p-button-warning" icon="pi pi-trash"
                                (onClick)="limpiar()"></p-button>

                        </div>
                    </div>

                </p-fieldset>
            </form>
        </p-card>
    </div>
</div>